---
const Calc = "div";
---

<Calc class="calculator">
  <img
    src="../../public/Kit-calculator/Logo/SVG/main-logo-white-transparent.svg"
    alt="logo"
    width="100px"
    style="margin-left: 50%;transform:translateX(-50%);"
  />
  <table>
    <tr>
      <td><input type="text" id="display" disabled /></td>
    </tr>
    <tr>
      <td><input id="clearAll" type="button" value="C" /></td>
      <td><input class="number" type="button" value="%" /></td>
      <td><input class="number" type="button" value="**" /></td>
      <td><input class="number" type="button" value="/" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="7" /></td>
      <td><input class="number" type="button" value="8" /></td>
      <td><input class="number" type="button" value="9" /></td>
      <td><input class="number" type="button" value="*" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="4" /></td>
      <td><input class="number" type="button" value="5" /></td>
      <td><input class="number" type="button" value="6" /></td>
      <td><input class="number" type="button" value="-" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="1" /></td>
      <td><input class="number" type="button" value="2" /></td>
      <td><input class="number" type="button" value="3" /></td>
      <td><input class="number" type="button" value="+" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="0" /></td>
      <td><input class="number" type="button" value="." /></td>
      <td><input id="calculate" type="button" value="=" /></td>
      <td><input id="clearNumber" type="button" value="DEL" /></td>
    </tr>
  </table>
</Calc>
<!-- <script src="../js/scriptCalc.js"></script> -->
