---
const Calc = "div";
---

<Calc class="calculator">
  <a href="https://github.com/Ballwictb" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <table>
    <tr>
      <td><input type="text" id="display" disabled /></td>
    </tr>
    <tr>
      <td><input id="clearAll" type="button" value="C" /></td>
      <td><input class="number" type="button" value="%" /></td>
      <td><input class="number" type="button" value="**" /></td>
      <td><input class="number" type="button" value="/" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="7" /></td>
      <td><input class="number" type="button" value="8" /></td>
      <td><input class="number" type="button" value="9" /></td>
      <td><input class="number" type="button" value="*" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="4" /></td>
      <td><input class="number" type="button" value="5" /></td>
      <td><input class="number" type="button" value="6" /></td>
      <td><input class="number" type="button" value="-" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="1" /></td>
      <td><input class="number" type="button" value="2" /></td>
      <td><input class="number" type="button" value="3" /></td>
      <td><input class="number" type="button" value="+" /></td>
    </tr>
    <tr>
      <td><input class="number" type="button" value="0" /></td>
      <td><input class="number" type="button" value="." /></td>
      <td><input id="calculate" type="button" value="=" /></td>
      <td><input id="clearNumber" type="button" value="DEL" /></td>
    </tr>
  </table>
</Calc>
<style>
  a i {
    font-size: xx-large;
  }
  a {
    color: #000;
    transition: 0.3s;
  }
  a:hover {
    color: #fff;
    transition: 0.3s;
  }
</style>
