/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    /* vertical-align: bottom; */
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #272c23;
    background-image: url("https://raw.githubusercontent.com/Ballwictb/calculatorv2/948a1e6c06d80872d8b0e504eb47eec8db797cf1/public/Kit-calculator/Logo/SVG/main-logo-transparent.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50% 50%;
}