---
interface Props {
  title?: string;
}

const { title } = Astro.props;
import "../css/particles.css";
import "../css/style-calc.css";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Simple coclculator for mathematical operations"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="shortcut icon"
      href="../../public/icon/Favicon-32x32.svg"
      type="image/x-icon"
    />
    <meta name="generator" content={Astro.generator} /><title>
      {title}
    </title>
    <script is:inline src="https://threejs.org/examples/js/libs/stats.min.js"
    ></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"
    ></script>
    <script src="../js/app.js"></script>
    <script src="../js/scriptCalc.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.delivr.net/gh/Ballwictb/font-awesome-sixball-v2@main/six-rp/css/all.min.css"
    />
  </head>

  <body>
    <SpeedInsights />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 258, 234;
    --accent-light: 90, 200, 90;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 40%,
      #008000 60%
    );
  }
  html {
    background-size: cover;
    background-position: top;
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
